.container{
    display: flex;
    width: fit-content;
}
.canvas{
    width: fit-content;
    background: #ddd;
    border:solid 1px #000;
}
.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #BBCEBE;
}

.options{
    position: fixed;
    display: flex;
    cursor: pointer;
    padding: 0.3em;
    border-radius: 0.5em;
}
  
.drawtools{
    height: 100%;
    margin-top: 10px;
    padding-left: 5px;
}
  
button{
    color: white;
    background-image: linear-gradient(to right, #296550, #58927e);
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    appearance: none;
    font-weight: 700; 
    box-shadow: 3px 3px rgba(54, 52, 52, 0.4);
    transition: 0.4s ease-out;
}
  
button:hover {
    box-shadow: 1px 1px rgba(87, 81, 81, 0.6);
}
  
.active{
    box-shadow: none;
    background-image: linear-gradient(to right, #3A5045,#296550);
}